:root {
  --green: #495E57;
  --yellow: #F4CE14;
  --grey: #EDEFEE;
  --peach: #EE9972;
  --beige: #FBDABB;
  --black: #333333;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

nav {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: center;
}

nav ul {
  list-style: none;
}

nav ul a {
  text-decoration: none;
  color: var(--black);
}

header {
  display: grid;
  background-color: var(--green);
  grid-template-columns: auto;
}

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2rem;
}

footer {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  background-color: var(--grey);
}